.menu,.menu ul,.menu li,.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    height: 40px;
    width: 100%;
    float: center;
    margin: auto;
    background: -webkit-gradient(linear, center top, center bottom, from(#fff),
    to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
    min-width: 140px;
}

.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family: "宋体", "Arial Narrow", HELVETICA;
    font-size: 15px;
    color: #000;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menu li:first-child a {
    border-left: none;
}

.menu li:last-child a {
    border-right: none;
}

.menu li:hover a {
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc),
    to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    border-radius: 6px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}

.menu ul {
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(#fff, #ccc);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menu li:hover>ul {
    opacity: 1;
}

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.menu li:hover>ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 100px;
    padding: 4px 0 4px 40px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #353539;
}

.menu ul li:last-child a {
    border: none;
}

#menudiv {
    text-align: center;
    width: 100%;
    min-width: 1200px;
    height: 64px;
    background: rgba(0, 34, 72, 0.77);
    background-image: radial-gradient(circle farthest-side at center top, #19A3E7 0%, rgb(47,
    50, 137) 100%)
}

#sddm {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    font-size: 15px;
    font-weight: bold;
    z-index: 999;
}

#sddm li {
    list-style: none;
    float: left;
    margin-top: 3px;
    z-index: 999;
    width: 170px;
}

#sddm li a {
    margin-left: 20px;
    display: block;
    padding-top: 17px;
    width: 140px;
    color: #FFF;
    height: 58px;
    font-size: 19px;
    text-align: center;
    z-index: 999;
    border-radius: 5px;
    text-decoration: none
}

#sddm li a:hover {
    background: #FFFFFF;
    color: #54B4D0;
    z-index: 999;
}

#sddm .current {
    background: #FFFFFF;
    color: #54B4D0;
}

#sddm div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    margin-top: 3px;
    padding: 0;
    width: 140px;
    height: 20px;
    background: rgba(255, 255, 255, 0);
}

#sddm div a {
    position: relative;
    display: block;
    white-space: nowrap;
    text-align: center;
    height: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 0px;
    text-decoration: none;
    background: #405F99;
    color: #fff;
}

#sddm div a:hover {
    background: #49A3FF;
    color: #FFF
}

#m2 a {
    font-size: 15px;
}

.sub-arrow {
    position: static;
    color: #000;
    margin-top: 0;
    margin-right: 0;
    margin-left: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 4px dashed transparent;
}